.navigation {
  grid-area: n;
  background-color: rgb(85, 99, 208);
}

.link {
  text-decoration: none;
  font-size: 1.5em;
  color: #FFFFFF;
  transition: 0.3s;
}

.active {
  text-decoration: none;
  font-size: 1.5em;
  color: gold;
  transition: 0.3s;
}

.link:hover {
  opacity: 0.7;
}

.list {
  list-style: none;
  margin-bottom: 2em;
}

.item {
  margin: 1em;
}